@font-face {
  font-family: "Sofia Pro Light";
  src: url("/assets/shoes/sofia-pro-light.otf");
}

@font-face {
  font-family: "Sofia Pro Extra Light";
  src: url("/assets/shoes/sofia-pro-extralight.ttf");
}

@font-face {
  font-family: "Sofia Pro Ultra Light";
  src: url("/assets/shoes/sofia-pro-ultralight.ttf");
}

 @font-face {
  font-family: "Circular Std Bold";
  src: url("/assets/shoes/circular-std-bold.otf");
}

@font-face {
  font-family: "Circular Std Medium";
  src: url("/assets/shoes/circular-std-medium.ttf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/assets/shoes/avenir-heavy.ttf");
}

.container {
  /* Positionning */
  position: absolute;
  top: 0;
  left: 0;

  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 127px 1fr;

  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Fonts */
  font-family: "Sofia Pro Extra Light", sans-serif;
}

.container a {
  /* Fonts */
  color: #000;
  text-decoration: none;
}

/* Hover effect */
.container nav a, .footer ul a {
  display: inline-block;
  position: relative;
}

.container nav a::after, .footer ul a::after {
  content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: rgb(128, 128, 128);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.container nav a:hover::after, .footer ul a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

.header > div {
  padding: 25px 50px 0 50px;
}

.header > div > a, .header ul > li {
  display: inline-block;
}

.header > div > nav {
  display: none;
}

.header h2 {
  /* Fonts */
  font-family: "Circular Std Bold", sans-serif;
  text-transform: lowercase;
  font-size: 1.8em;
}

.header h2 > span {
  /* Fonts */
  font-family: "Circular Std Medium", sans-serif;
  font-weight: 100;
  font-size: .9em;
}

.main {
  /* Positionning */
  grid-area: 2 / 1 / 3 / 2;

  /* Fonts */
  color: rgba(0, 0, 0, .4);
}

.borders {
  /* List styles */
  list-style-type: none;
  padding: 0;
  margin: 0;

  /* Grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  /* Positionning */
  position: absolute;
  top: 0;
  z-index: -1;

  /* Sizing */
  height: 100vh;
  width: 100vw;
}

.borders li {
  border-right: 1px solid #e9e9e9;
}

.borders li:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
}

.borders li:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.borders li:nth-of-type(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.borders li:last-of-type {
  grid-area: 1 / 4 / 2 / 5;
}

.main > div {
  /* Positionning */
  margin-top: -45px;
  margin-left: 25px;

  /* Sizing */
  padding: 20px;

  /* Fonts */
  font-size: 1em;
  line-height: 1.5;
}

.main > div > h1 {
  /* Fonts */
  font-family: "Sofia Pro Ultra Light", sans-serif;
  color: #000;
  font-weight: 100;
  font-size: 2.2em;
  margin: -10px 0 0 0;
}

.main > div > h1 > span {
  /* Fonts */
  font-size: .5em;
  vertical-align: top;
}

.main > div > button:not(:first-of-type) {
  margin-left: 24px;
}

.btn {
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;

  /* Sizing */
  padding: 10px;

  /* Positionning */
  margin-top: 40px;
  position: relative;
  z-index: 1000;

  /* Fonts */
  font-size: .8em;
  color: #000;
}

.btn > * {
  vertical-align: middle;
}

.btn:hover {
  cursor: pointer;
}

.btn-c2a {
  background: #000;
  color: #fff;
}

.number {
  /* Fonts */
  font-family: "Avenir Heavy", sans-serif;
  font-size: 30vw;
  color: rgba(236, 202, 123, .2);

  /* Positionning */
  position: absolute;
  top: 120px;
  right: 14vw;
}

.shoe {
  /* Positionning */
  position: absolute;
  bottom: 100px;
  right: 20px;

  /* Sizing */
  width: 60vw;
}

.count {
  /* Sizing */
  padding: 0 !important;
  width: 68px;

  /* Positionning */
  margin: 0 !important;
  position: absolute;
  left: calc(50vw - 68px / 2);
  bottom: 50px;

  /* Fonts */
  font-size: .8em !important;
  font-family: sans-serif;
  color: #000;
  text-align: center;
  letter-spacing: -1px;
}

.aside, .footer {
  display: none;
}

@media (min-width: 1023px) {
  .container {
    grid-template-columns: 276px 1fr 382px;
    grid-template-rows: 127px 1fr;
  }

  .header {
    grid-area: 1 / 1 / 2 / 4;
  }

  .header > div > nav {
    display: inline-block;

    /* Positionning */
    position: absolute;
    right: 25px;
    z-index: 1000;
  }

  .header ul > li {
    margin-right: 25px;
  }

  .aside {
    display: block;
    grid-area: 2 / 1 / 3 / 2;
  }

  .aside ul {
    list-style-type: none;
    padding: 0;

    /* Positionning */
    margin-left: 50px;
    margin-top: 50px;
  }

  .aside ul > li > a {
    /* Fonts */
    font-size: 1.3em;
    font-family: "Sofia Pro Ultra Light", sans-serif;
  }

  .aside ul > li > a > span {
    background: rgba(0, 0, 0, .2);
    border-radius: 40px;

    /* Sizing */
    padding: 6px 8px;

    /* Positionning */
    margin-left: 10px;

    /* Fonts */
    color: #fff;
    font-size: .6em;
    vertical-align: middle;
  }

  .aside ul > li:not(:first-of-type) {
    margin-top: 60px;
  }

  .extra {
    /* Positionning */
    margin-left: 50px;
    position: absolute;
    bottom: 227px;

    /* Fonts */
    font-family: "Sofia Pro Ultra Light", sans-serif;
    font-size: 2.4em;
  }

  .extra > span {
    background: #000;

    /* Fonts */
    color: #fff;
    font-family: "Sofia Pro Light", sans-serif;
  }

  .extra > span:first-of-type {
    padding: .05em 0 .2em 0;
  }

  .extra > span:last-of-type {
    padding: .13em .09em 0 0;
  }

  .more {
    /* Positionning */
    margin-left: 50px;
    position: absolute;
    bottom: 172px;
  }

  .more a {
    /* Fonts */
    text-transform: lowercase;
    font-family: "Sofia Pro Light", sans-serif;
    font-weight: 600;
  }

  .more a::before {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #000;

    /* Sizing */
    width: 48px;
    height: 1em;
    
    /* Positionning */
    margin-right: 69px;
  }

  .more a:hover::before {
    width: 98px;
    margin-right: 19px;
    transition: width 0.25s ease-out, margin-right 0.25s ease-out;
  }

  .scroll {
    /* Positionning */
    margin-left: 50px;
    position: absolute;
    bottom: 50px;

    /* Fonts */
    font-family: "Sofia Pro Light", sans-serif;
    font-weight: 600;
  }

  .main {
    grid-area: 2 / 2 / 3 / 4;
  }

  .borders {
    grid-template-columns: repeat(3, 1fr) 382px;
    width: calc(100vw - 276px);
  }

  .borders li:first-of-type {
    border-left: 1px solid #e9e9e9;
  }

  .main > div {
    margin-top: 40px;
    font-size: 1.25em;
  }

  .main > div > h1 {
    font-size: 3em;
  }

  .btn {
    padding: 25px 30px;
  }

  .shoe {
    right: 120px;
  }

  .footer {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Sizing */
    height: 94px;
    width: 100vh;
    transform: rotate(-90deg);
    transform-origin: 100% 94px;

    /* Positionning */
    position: absolute;
    top: -94px;
    right: 0;

    /* Fonts */
    text-transform: lowercase;
    font-family: "Sofia Pro Light", sans-serif;
    font-weight: 600;
    font-size: .8em;
  }

  .footer ul:last-of-type {
    margin-right: 180px;
  }

  .footer ul > li {
    display: inline-block;
  }

  .footer ul > li:not(:first-of-type) {
    margin-left: 32px;
  }
}
